.about .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

.about {
  padding: 100px 0;
}

.catNameH2 h2 {
  font-size: 40px;
  color: black;
  margin-bottom: 40px;
  line-height: 36px;
}

.catNameH2 {
  width: fit-content;
  position: relative;
}
.catNameH2 h2::after {
  content: '';
  display: block;
  height: 4px;
  /* width: 130px; */
  position: absolute;
  /* top: 37px; */
  bottom: -12px;
  left: 6px;
  right: 7px;
  border-radius: 400px;
  /* margin-bottom: 8px; */
  background-color: rgb(174 174 174);
  /* margin-top: 15px; */
}
.middleInfo {
  width: 30%;
  /* margin-left: 35px; */
}
.content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
  /* width: 30%; */
  margin-bottom: 25px;
}

/* .container h2 {
  padding: 3px;
  margin: 2px;
} */

.container img {
  width: 63%;
  /* height: 800px; */
  height: 470px;
  padding: 19px;
  margin: 5px;
  box-shadow: 0px 0px 3px 1px black;
  background-color: aliceblue;
  transition: all 0.3s ease-in-out;
}

.container img:hover {
  box-shadow: 1px 1px 6px 3px rgba(48, 48, 48, 0.74);
}

.para {
  /* padding: 3px;
  margin: 5px; */
  letter-spacing: 0.8px;
  line-height: 23px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.para b {
  font-size: 17px;
  color: black;
}

.desc {
  width: 100%;
  margin-top: 25px;
}

.desc b {
  font-size: 20px;
}
.desc b::after {
  content: '';
  display: block;
  height: 2px;
  width: 130px;
  margin-bottom: 8px;
  background-color: black;
  display: flex;
  margin-top: 3px;
  flex-direction: row;
}

.wikepedia-link {
  margin-top: 10px;
  padding: 5px;
  background-color: rgb(96 175 170);
  border-radius: 5px;
}

.wikepedia-link b {
  color: rgb(15, 15, 15);
  font-size: 15px;
}

.wikepedia-link:hover {
  background-color: rgb(76, 138, 134);
}

.progress {
  position: relative;
  background-color: #d8d8d8;
  border-radius: 20px;
  margin: 5px 0;
  height: 13px;
  overflow-x: hidden;
  width: 80%;
}

.progress-done {
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: indigo; */
  height: 100%;
}

.middleDesc .meterBox:nth-child(1) div.progress-done {
  background-color: #aca0f9;
}
.middleDesc .meterBox:nth-child(2) div.progress-done {
  background-color: #ff5994;
}
.middleDesc .meterBox:nth-child(3) div.progress-done {
  background-color: #eb2d2d;
}
.middleDesc .meterBox:nth-child(4) div.progress-done {
  background-color: #00a9e2;
}

/* .gap20 {
  margin-bottom: 20px;
} */

.middleDesc {
  margin: 20px 0;
}
.hidden {
  display: none;
}

/* ===================== 
     Media Queries 
===================== */

@media only screen and (max-width: 920px) {
  .container img,
  .middleInfo {
    width: 100%;
  }

  .temp {
    color: #ff168c;
  }
  .container img {
    height: auto;
    max-height: 600px;
  }
  .about .container {
    margin: inherit;
  }
  /* .content {
    margin-top: 20px;
  } */
  .catNameH2 {
    width: 100%;
  }
  .catNameH2 h2 {
    text-align: center;
    margin-top: 20px;
  }

  .catNameH2 h2::after {
    width: 200px;
    margin: 0 auto;
  }

  .content {
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .middleDesc {
    margin: 0;
    position: absolute;
    top: -5px;
    right: 0;
  }

  /* .bottomDesc {
    margin-top: -113px;
  } */

  .bottomDesc {
    margin-top: 40px;
  }

  .topDesc,
  .bottomDesc {
    width: 55%;
  }
  .middleDesc {
    width: 35%;
  }
  .progress {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .about .container {
    width: 100%;
  }
  .para b {
    color: #0c0aa0;
  }
}

@media only screen and (max-width: 560px) {
  .container img {
    padding: 7px;
  }
}

@media only screen and (max-width: 485px) {
  .topDesc,
  .bottomDesc,
  .middleDesc {
    width: 47%;
  }
  .middleDesc {
    top: auto;
  }
  .bottomDesc {
    margin-top: 0;
  }

  .about {
    padding: 75px 0 40px;
  }
  .catNameH2 h2 {
    font-size: 32px;
  }

  .desc {
    margin-top: 0;
  }

  .hidden {
    display: block;
  }
}
