* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* background-color: rgb(226, 226, 226); */
  background-color: antiquewhite;
  font-family: monospace;
  user-select: none;
}

.nav-wrapper {
  /* height: 40px; */
  background-color: rgb(15 15 33);
  box-shadow: 0 3px 5px #0c0406b0;
  padding: 7px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  right: 0;
}

.nav-link {
  width: 100%;
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  text-align: center;
  background-color: #d3c9c9;
  padding: 9px;
  width: 50%;
  font-size: 1.6rem;
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-item:hover {
  background-color: #c0aeae;
}

.nav-item:active {
  color: #551a8b;
}

.active-link {
  background-color: #c0aeae;
}

.divider {
  border-right: 2px solid rgb(147, 147, 220);
}

.nav a {
  color: rgb(212 196 43 / 86%);
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}
.back {
  padding: 2px;
  width: 24px;
  border-radius: 50%;
  background-color: #386a59;
  color: rgb(165, 165, 170);
  position: absolute;
  text-transform: uppercase;
  left: 0;
  font-size: 18px;
  font-weight: bolder;
  display: none;
  cursor: pointer;
}
.back.visible {
  display: block;
}
.back .fa-arrow-left {
  margin-left: 1px;
}

.back:hover {
  background-color: #6c978a;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.navCat {
  width: 47px;
  margin: 0 15px;
  filter: sepia(0.8);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.no-result{
  font-size: xx-large;
  color: rgb(224, 62, 62);
  font-weight: 600;
  margin-block: 30px;
}