* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 40px;
  background-color: #000;
}

body {
  background-color: rgb(226, 226, 226);
  font-family: cursive;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}
