* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

nav {
  /* height: 40px; */
  padding: 9px;
  background-color: rgb(15 15 33);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  right: 0;
  box-shadow: 0 3px 5px #0c0406b0;
}

.nav a {
  color: rgb(212 196 43 / 86%);
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}
.back {
  color: rgb(214, 214, 214);
  position: absolute;
  text-transform: uppercase;
  left: 0;
  font-size: 18px;
  font-weight: bolder;
  display: none;
}
.back.visible {
  display: block;
}
body {
  /* background-color: rgb(226, 226, 226); */
  background-color: antiquewhite;
  font-family: monospace;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1800px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
}

.navCat {
  width: 47px;
  margin: 0 15px;
  filter: sepia(0.8);
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
